@use "./styles/fonts";
@use "./styles/ninety-five";
@use "./styles/xp";
@use "./styles/seven";
@use "./styles/disaster";
@use "./styles/ten";

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: black;
}

.hide {
    display: none;
}

button {
    cursor: pointer;
}

tileos-is-the-best {
    display: block;
    height: 100vh;
    width: 100vw;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div#dock-and-start-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        pointer-events: none;

        * {
            pointer-events: auto;
        }

        tileos-dock {
            height: 25px;
            width: 100%;
            display: flex;
            padding: 5px;
            z-index: 2000;

            .datetime {
                padding: 2px;
                margin-left: auto;
                margin-right: 10px;
            }

            .start-icon {
                height: 15px;
                width: 15px;
                padding-right: 10px;
            }
    
            .icon {
                height: 15px;
                width: 15px;
                padding-right: 5px;
            }
    
            button {
                font-size: 0.85rem;
            }
        }

        tileos-start-menu {
            height: 66vh;
            float: top;
            font-size: 1rem;
            z-index: 1500;
            pointer-events: none;

            * {
                pointer-events: auto;
            }

            .explorer {
                width: 100%;
            }

            ul {
                list-style: none;
                padding: 0px;
                margin: 0px;
            }

            li {
                cursor: pointer;
                height: 2rem;
                max-height: 2rem;
            }

            li > div {
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0px 20px;
            }

            .parent > ul {
                display: none;
                position: relative;
                left: 100%;
                top: -2rem;
                width: max-content;
            }

            .parent:hover > ul,
            .parent > ul:hover {
                display: block;
            }

            img {
                height: 1.75rem;
                width: 1.75rem;
                padding-right: 10px;
            }
        }
    }

    tileos-app {
        display: block;
        width: 400px;
        height: 400px;
        position: absolute;
        left: 25%;
        top: 25%;
        overflow: hidden;

        .app-container {
            overflow: scroll;
            height: calc(100% - 25px);
            padding-right: 5px;
            padding-left: 5px;
            padding-top: 0px;
        }
    }

    tileos-app-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
    }
}
