@use "./styles/fonts";
@use "./styles/ninety-five";
@use "./styles/xp";
@use "./styles/seven";

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: black;
}

.hide {
    display: none;
}

tileos-is-the-best {
    display: block;
    height: 100vh;
    width: 100vw;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    tileos-dock {
        height: 25px;
        width: 100%;
        position: fixed;
        bottom: 0px;
        display: flex;
        padding: 5px;
    }

    tileos-start-menu {
        height: 66vh;
        width: 30vw;
        float: top;
        position: fixed;
        bottom: 0;
        padding: 5px;
    }

    tileos-app {
        display: block;
        width: 400px;
        height: 400px;
        position: absolute;
        left: 50%;
        overflow: hidden;

        .app-container {
            overflow: scroll;
            height: calc(100% - 25px);
            padding-right: 3px;
            padding-left: 3px;
            padding-top: 0px;
        }
    }

    tileos-app-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
    }
}
