@import url(https://allfont.net/allfont.css?fonts=comic-sans-ms-bold);

tileos-is-the-best[data-theme="disaster"] {
    background: url("imgs/hehe.png");
    font-family: "Comic Sans MS Bold", Arial;
    animation: more-crazy linear 5s infinite;

    * {
        display: none;
    }

    &::after {
        content: "let's forget tileos 8 even happened :)";
        font-size: 4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: crazy 5s linear infinite;
    }

    @keyframes more-crazy {
        from {
            background-position-x: 0%;
        }
        to {
            background-position-x: 200%;
        }
    }

    @keyframes crazy {
        0% {
            color: red;
        }
        20% {
            color: green;
        }
        40% {
            color: blue;
        }
        60% {
            color: yellow;
        }
        80% {
            color: magenta;
        }
        100% {
            color: red;
        }
    }
}
