tileos-is-the-best[data-theme="95"] {
    background: #3b8585;
    font-family: "Pixelated MS Sans Serif";

    button {
        background: #d3cfca;
        font-family: "Pixelated MS Sans Serif";
        border-color: white black black white;
    }

    button:active {
        border-color: black white white black;
    }

    button:focus {
        outline: none;
    }

    button.focus {
        border-color: black white white black;
    }

    tileos-dock {
        background: #d3cfca;

        .divider {
            width: 4px;
            box-shadow: -1px 0px 1px white, 1px 0px 1px black;
        }

        .datetime {
            border: 2px solid;
            border-color: black white white black;
        }

        .start-icon {
            background: url("imgs/ninety-five.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    tileos-start-menu {
        width: 250px;
        
        .apps, .essentials {
            display: none;
        }

        div#start {
            background: #d3cfca;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: horizontal;
            justify-content: space-between;

            div#status {
                height: 100%;
                width: 50px;
                margin: 5px;
                position: relative;
                background: rgb(2, 0, 36);
                background: linear-gradient(
                    0deg,
                    rgba(2, 0, 36, 1) 0%,
                    rgba(21, 56, 142, 1) 8%,
                    rgba(0, 212, 255, 1) 100%
                );

                div#os-text {
                    position: absolute;
                    bottom: 5%;
                    width: max-content;
                    transform-origin: top left;
                    transform: rotate(-90deg);
                    font-size: 250%;
                }
            }
        }

        li {
            background: #d3cfca;
        }

        li:hover {
            background: #00007b;
        }

        li:hover > div {
            color: white;
        }

        .name::first-letter {
            text-decoration: underline;
        }
    }

    tileos-app {
        background: black;
        color: white;
        border: 3px solid #d3cfca;
        box-shadow: black 1px 1px 0px, white -1px -1px;
    }

    tileos-app-header {
        background: grey;
        padding: 2px;
        font-weight: bold;
        font-family: "Pixelated MS Sans Serif";

        button[aria-label="Close"] {
            background: url("./icons/95/close.svg");
            background-color: #d3cfca;
            background-repeat: no-repeat;
            background-position: top 4px left 4px;
            height: 20px;
            width: 20px;
        }

        button[aria-label="Minimize"] {
            background: url("./icons/95/minimize.svg");
            background-color: #d3cfca;
            background-repeat: no-repeat;
            background-position: top 10px left 4px;
            height: 20px;
            width: 20px;
        }
    }

    tileos-app-header.focus {
        background: linear-gradient(90deg, #000080, #1084d0);
    }
}
