tileos-is-the-best[data-theme="10"] {
    background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcnet2.cbsistatic.com%2Fimg%2FSBLu1Ni1RTargNQSsSwWj6c8zGc%3D%2F2018%2F03%2F16%2F5b1ba726-2c4d-4163-b14d-ed97ff23f959%2F20180316-windows-10-background-01.jpg&f=1&nofb=1");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Segoe UI Regular";
}
