tileos-is-the-best[data-theme="vista"] {
    background: url("imgs/vista.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans-serif;

    tileos-desktop {
        color: white;
        text-shadow: 0px 0px 5px black;
    }

    tileos-app-header {
        align-items: start;
        text-shadow: 0px 0px 5px white;
        height: 25px;

        .app-name {
            text-align: center;
            width: 100%;
        }

        button {
            border: solid 0.5px #2f638a;
            background: linear-gradient(
                0deg,
                rgba(83, 148, 207, 1) 0%,
                rgba(79, 152, 209, 1) 35%,
                rgba(174, 201, 235, 1) 100%
            );
            color: white;
            font-weight: bold;
            box-shadow: 0px 0px 2px white;
            text-shadow: 0px 0px 2px black;
        }

        button[aria-label="Close"] {
            height: 14px;
            width: 35px;
            margin-right: 5px;
            border-radius: 0px 0px 5px 0px;
            background-image: url("./icons/seven/close.png");
            background-size: contain;
            background-repeat: no-repeat;

            &:hover {
                background-image: url("./icons/seven/close-hover.png");
            }
        }

        button[aria-label="Minimize"] {
            border-radius: 0px 0px 0px 5px;
            height: 14px;
            width: 22px;
            border-radius: 0px 0px 0px 5px;
            background-image: url("./icons/seven/minimize.png");
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 1px;

            &:hover {
                background-image: url("./icons/seven/minimize-hover.png");
            }
        }
    }

    tileos-start-menu {
        width: max-content;
        border-radius: 5px;

        #os-text {
            display: none;
        }

        .container {
            border-radius: 5px;
            box-shadow: 0px 0px 2px black;
            border: 0.25px solid #848484;
            display: grid;
            padding: 15px 10px 10px 10px;
            height: 94%;
            width: max-content;
            background: rgba(0, 0, 0, 0.57);

            grid-template-columns: 250px 150px;
            grid-template-rows: 1fr;

            .explorer {
                background: white;
                color: black; font-weight: bold;
                border-radius: 5px;

                .parent li {
                    background: white;
                }
            }

            .apps {
                color: white;

                div {
                    display: flex;
                    align-items: center;
                    margin: 10px 10px;
                }
            }
        }

        .essentials {
            display: none;
        }
    }

    tileos-app {
        box-shadow: 0px 0px 5px black;
        border: solid 0.5px white;
        border-radius: 5px;
    }

    tileos-dock {
        color: white;
        background: linear-gradient(
            0deg,
            rgba(2, 0, 36, 0.72) 0%,
            rgba(51, 51, 51, 0.96) 35%,
            rgb(208, 208, 208) 100%
        );
        box-shadow: 0px 0px 5px black;
        border-top: solid 0.5px white;
        padding: 0px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .start-text,
        .start-icon,
        .icon-text {
            display: none;
        }

        .icon {
            height: 30px;
            width: 30px;
            padding-right: 0px;
        }

        .focus {
            background: linear-gradient(
                0deg,
                #2b2b2b 0%,
                #929293 35%,
                #cecece 100%
            );
        }

        button[aria-label="Start button"] {
            background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftaylorrockhill.files.wordpress.com%2F2012%2F02%2Fwindows_7_orb_icon_by_skyangels.png&f=1&nofb=1");
            background-repeat: no-repeat;
            background-size: contain;
            box-shadow: none;
            border-radius: 100%;
            height: 40px;
            width: 40px;
            border: none;
            margin: 0px;
            margin-right: 15px;

            &:hover {
                background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftaylorrockhill.files.wordpress.com%2F2012%2F02%2Fwindows_7_orb_icon_by_skyangels.png&f=1&nofb=1");
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        button {
            background: linear-gradient(
                0deg,
                #282828 0%,
                #707273 35%,
                #b1b7bd 100%
            );
            border: 0.25px solid white;
            box-shadow: 0px 0px 2px black;
            color: white;
            text-shadow: 0px 0px 5px black;
            margin: 2px;
            border-radius: 3px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
                height: 25px !important;
                width: 25px !important;
                padding-right: 0px !important;
            }
        }

        button:hover {
            background: linear-gradient(
                0deg,
                #2b2b2b 0%,
                #929293 35%,
                #cecece 100%
            );
        }
    }

    @supports (backdrop-filter: none) {
        tileos-app {
            backdrop-filter: blur(10px);
        }
    }

    @supports not (backdrop-filter: none) {
        tileos-app {
            background: rgba(256, 256, 256, 0.3);
        }
    }
}
