tileos-is-the-best[data-theme="xp"] {
    background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.vox-cdn.com%2Fthumbor%2FlCAHfXW-NhmS4tF2gBZmGuU2el4%3D%2F0x0%3A800x600%2F1200x800%2Ffilters%3Afocal(266x304%3A394x432)%2Fcdn.vox-cdn.com%2Fuploads%2Fchorus_image%2Fimage%2F55227337%2FBliss.1497349801.png&f=1&nofb=1");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}
